name = "crypt-chat"
main = "worker/index.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[vars]
# 是否启用访问验证 (true/false)
REQUIRE_AUTH = "true"
# 访问密码
AUTH_PASSWORD = ""
# 认证密钥
AUTH_SECRET = "30dc11bb9908b78ab11865760ed6c78ce4def403ee578143045ced46d1733f4"

# 配置静态资源
[assets]
directory = "./dist"
not_found_handling = "single-page-application"
run_worker_first = true
binding = "ASSETS"

[durable_objects]
bindings = [
  { name = "CHAT_ROOM", class_name = "ChatRoom" }
]

[[migrations]]
tag = "v1"
new_sqlite_classes = ["ChatRoom"]
